.buttons{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 50px;
    background-color: honeydew;
    gap:90px
}

button{
    height: 75px;
    width: 250px;
    font-size: 50px;
}